{% extends "base.html" %}

{% block content %}
<h1 class="title">

</h1>

<section>
<div class="columns">
  <div class="column">
    <a href="{{ url_for('main.upload_file') }}" class="button is-primary is-inverted is-outlined">CREER UN ALBUM</a>
</div>
</section>

      
<div class="columns is-multiline">
    {% for i in range(n) %}
    <div class="column is-one-quarter-desktop is-half-tablet">
      <div class="card">
          <div class="card-image">
              <figure class="image is-3by2">
                <img src="static/{{prefix}}{{ alb[i] }}" alt="">
              </figure>
              <div class="card-content is-overlay is-clipped">
                <span class="tag is-info">
                  {{ label[i] }}
                </span>       
              </div>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
